@tailwind base;
@tailwind components;
@tailwind utilities;

.top-line {
  height: 6px;
  width: 100%;
}

.gradient {
  background: linear-gradient(to right, rgb(0, 176, 207), rgb(3, 64, 179));
}

.gradient-reverse {
  background: linear-gradient(to right, rgb(3, 64, 179), rgb(0, 176, 207));
}

.hero-bg {
  position: relative;
}

.hero-bg img {
  width: 100%;
}

.hero-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
