@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply ml-8 cursor-pointer outline-none py-1 inline-block px-8 transition-all delay-75 font-bold tracking-widest focus:ring focus:ring-offset-2;
  }

  .btn-primary {
    @apply bg-brand text-white hover:bg-brand-light focus:ring-brand;
  }

  .btn-secondary {
    @apply bg-orange text-black;
  }

  .gradient {
    @apply bg-gradient-to-r from-brand-light to-brand-dark;
  }
}

.top-line {
  height: 6px;
  width: 100%;
}

.hero-bg {
  position: relative;
}

.hero-bg img {
  width: 100%;
}

.hero-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.bgEvent {
  background: radial-gradient(
    ellipse at center,
    rgba(59, 175, 252, 0.288) 0%,
    rgb(0, 70, 110) 35%,
    #45b3fc48 100%
  );
}

.box {
  background-color: rgba(255, 255, 255, 0.5);
}

.blur {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
